et-xmlfile==1.1.0		# MIT License (MIT) 
openpyxl==3.1.5			# MIT License (MIT) 
pytz==2024.1			# MIT License (MIT)
six==1.16.0			# OSI Approved :: MIT License 

pandas==2.2.3			# BSD License (BSD 3-Clause License Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and...) 
numpy==2.1.0			# BSD License (Copyright (c) 2005-2024, NumPy Developers. All rights reserved. Redistribution and use in source an...) 
python-dateutil==2.9.0.post0	# OSI Approved :: Apache Software License, OSI Approved :: BSD License

XlsxWriter==3.2.0		# BSD License (BSD-2-Clause)

tzdata==2024.1			# Apache Software License (Apache-2.0) 
